<h4>User List</h4>
<a asp-controller="User" asp-action="Home" class="btn btn-primary" role="button"> View </a>

<h4>Therapist List</h4>
<a asp-controller="Therapist" asp-action="TherapistList" class="btn btn-primary" role="button"> View </a>


<h4>Content List</h4>
<a asp-controller="Content" asp-action="ContentList" class="btn btn-primary" role="button"> View </a>

