@model ContentData
<div class="container py-5 row d-flex align-items-center justify-content-center h-100 col-md-8 col-lg-7 col-xl-6">
    <h3>@Model.Topic</h3>
    <p>@Model.Description</p>
    <img src="~/lib/bg.webp" class="img-fluid" />
    <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">Also Check</p>
    </div>
    @*<p>If you want to learn about Quranic Psychology then <a asp-action="Quranic" > Click Here! </a></p>*@
    <p>Suggestions Here</p>
</div>