@model UserTable
 <tr>
     
      <td>   @Model.Username   </td>
      <td>   @Model.Email   </td>
      <td>   @Model.Password   </td>
      <td>   <a asp-route-Username = "@Model.Username" asp-controller="User" asp-action="UserDetails" class = "btn btn-primary" role="button"> Details </a>   </td>

 </tr>