@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center vh-100">
    <h1 class="display-4">Welcome
        <small class="text-muted">to Learn Psychology</small>
    </h1>
</div>
<vc:content-data></vc:content-data>
